.username:hover, .title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title, .username {
  text-decoration: none;
  color: black;
}


img {
  width: 200px;
  height: 200px;
}

.imgProduct {
  width: 100px;
  height: 100px;
}

.cardImg {
  width: 80px;
  height: 100%;
}

.box {
  width: 400px;
  height: 400px;
}

.shopImg {
  width: 80px;
  height: 80px;
}

.emoji:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.List {
  width: 400px;
  height: 100%;
}

.selected {
  box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.75);
}

.water {
  height: 30px;
}

.hpBar {
  height: 20px;
  width: 100%;
  border: 1px solid #d1d1d1;
}

.bar {
  height: 100%;
  width: 100%;
  background-color: #3bcc3b;
  font-size: 14px;
}

.monster:hover {
  cursor: pointer;
  box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.75);
}

.Player {
  border-radius: 10px;
  box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.75);
}